<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-container">
    <ion-img src="assets/image/BuscaHuellaLogo.png" class="logo-register"></ion-img>
    <ion-card>
      <ion-card-content>
      <form #loginForm="ngForm"> <ion-list>
          <ion-item>
            <ion-input
              type="email"
              label="Email"
              name="email"
              fill="solid"
              labelPlacement="floating"
              placeholder="nombre@correo.com"
              required
              ngModel
              email>
            </ion-input>
          </ion-item>

          <br />
          <ion-item>
            <ion-input
              type="password"
              label="Contraseña"
              name="password"
              fill="solid"
              labelPlacement="floating"
              helperText="Mínimo 6 caracteres"
              required
              ngModel>
            </ion-input>
          </ion-item>

          <ion-button 
            expand="block" 
            (click)="loginUsuario()" 
            [disabled]="!loginForm.valid"
            [color]="loginForm.valid ? 'success' : 'danger'">
            Iniciar Sesión
          </ion-button>

          <ion-button fill="clear" expand="block" (click)="goToRegister()">
            ¿No tienes cuenta? Regístrate 
          </ion-button>
        </ion-list>
      </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
