.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 29vh;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#AvatarProfile{
  position: relative;
  width: 12%;
  height: 45px;
  right: 15px; 
}

#TitlePrincipal{
  text-align: center;
}

.Emergencia {
  position: relative;
  --background: #ff8500; /* Naranja Buscahuella */
  width: 87%;            /* Para que no toque los bordes */
  height: 56px;         /* Para que sea un botón imponente */
  left: 15px;         
  font-weight: bold;
}

#Imgtext{
  width: 231px;
  height: 112px;
}
