<app-menu-bar></app-menu-bar>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title id="TitlePrincipal">Hola {{ nombreCompleto }} </ion-title>

      
        <ion-avatar slot="end" id="AvatarProfile">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      <ion-popover #popover [showBackdrop]="true" trigger="AvatarProfile">
        <ng-template>
            <ion-list>
              <ion-item>Perfil</ion-item>
              <ion-item>Cerrar Sesión</ion-item>
            </ion-list>
        </ng-template>
      </ion-popover>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div class="main-container">
      <ion-button class="Emergencia" expand="block" shape="round" >
        ¡Ayuda, perdí a mi mascota!
      </ion-button>
    </div>

    <ion-list>
      <ion-list-header>
        <ion-label>
          Reportes recientes
        </ion-label>
      </ion-list-header>
      
      <ion-card>
        <ion-card-header>
          <ion-card-title>Mascota de prueba</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Vista por última vez hace 5 min.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Tip Mascota</ion-card-title>
          <ion-card-subtitle>¿Tu mascota tiene chip?</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Según la ley deberia.
        </ion-card-content>

        <ion-button fill="clear">Si</ion-button>
        <ion-button fill="clear">No, dame mas info</ion-button>
      </ion-card>
    </ion-list>
  </ion-content>

  <app-footer></app-footer>
</div>